body{
     margin-left: 250px;
     margin-right: 250px;
     overflow: scroll;
}
  #one{
  background-image:url("./assets/Backgrounds/landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}
.nav div{
  height: 2px;
  background-color:white;
  margin: 7px 0;
  border-radius: 25px;
  

}
.nav{width: 40px;
      display: block;
      margin: 5em o o 1em; 
      margin-left: 60px;
      margin-top: 6px;
}
.nav:first-child{
  padding-top: 50px;
}
#one img{
          display: block;
          margin-left: auto;
          margin-right: auto;
          justify-content: center;
        

}
#one p{margin-bottom: 0px;
       color: white;
       text-align: center;
       font-size: x-large;
}
.one>img{
  margin-left: auto;
  margin-right: auto;
}

#row{
     display: flex;
}

.column{
        flex: 25%;
        text-align: center;
}

#row:first-child{display: flex;}

.happy-hour{text-align: center;
             background-color: lightgray;
             width: 100%;
             height: 50%;
             padding-top: 15px;
             box-sizing: border-box;
             margin-top: 0;
             margin-bottom: 0;
}

.party-time{  text-align: center;
               background-color:#F15A29;
               height: 50%;
               box-sizing: border-box;
               padding-top: 15px;
              width: 100%;
              margin-top: 0;
             margin-bottom: 0;
             color: white;}
button{
       color: red;
}
.Breakfast,.Lunch,.Dinner{position: absolute;
                          top: 60%;
                          bottom:50%;
                          padding-left: 50px;
                          text-align: center;
                          align-items: center;
                          color: white;
                          font-size: medium;
}
#Section{display: flex;
  flex-direction: row;
  margin-top: 50px;
  height: 250px;
  justify-content: space-around;
  font-size: small;
}
.fastfood{
          display: flex;
          flex-direction: column;
          float: left;
          background-color: white;
          border: 2px solid lightgrey;
          width: 287px;
          height: 230px;
          box-sizing: border-box;
          padding: 10px;
}
.fastfood2{
           width: 287px;
           margin-left: -120px;
}
#Section2{
           display: flex;
           flex-direction: row;
           margin-top: 50px;
           height: 250px;
           justify-content: space-around;
           font-size: small;
}
.drinks{
           display: flex;
           flex-direction: row;
           float: right;
           background-color: white;
           border: 2px solid lightgrey;
           box-sizing: border-box;
           width: 287px;
           height: 230px;
           padding: 10px;
           
}
.drinks2{
           width: 287px;
           height: 230px;
           margin-right:-150px;
}
.drinks2>p,.drinks2> h2,.drinks2> h3{text-align: end;}

#Section3{margin-top: 50px;
          padding: 40px;
          margin-bottom: 50px;
          background-image: url("./assets/Backgrounds/foodsBg.jpg");opacity: 0.8;
          background-repeat: no-repeat;
          background-size: cover;
}
#menutitle>div:first-child{background-color: white;
border: none;
}

.b{                        background-color: grey;}

#menutitle{                display: flex;
                           justify-content: space-around;
                           margin-left: 9px;
                           margin-right: 18px;
}

.b{ 
            flex: 25%;
            border: 1px solid lightgray;
            text-align: center;
            font-size: x-small;
}

#menutitle:first-child{
                           background-color: white;
}

.menutitle>div{
             background-color: grey;
}

.foodrow{  display: flex;}
.food{     flex: 33.3%;
           background-color: white;
           justify-content: space-around;
           padding: 22px;
           font-size: small;
           color:#F15A29;
}
#section4{ margin-top: -20px;
           margin-left:50px;
           margin-right:50px;
           height: 150px;
           display: flex;
           justify-content: space-around;
           align-content: center;
           font-size: xx-small;
           border: 1px solid grey;
           margin-bottom: 50px;

}

.about{     border: 1px solid lightgray;
            text-align: center;
            width: 250px;
            float: left;
}

#happy{     text-align: center;
            float: right;
            width: 350px;
}

#happy>h3{   color:#F15A29;}

.about>h3{   color:#F15A29;}

#last{
              height:301px;
              background-image: url("./assets/Backgrounds/subscribe\ \(1\).jpg");
              background-size: cover;
              color: white;
              text-align: center;
              background-repeat: no-repeat;
          
}
#subscribe{
            display: flex;
            justify-content: space-around;
            width: 50%;
            margin-left: 250px;
            text-align: center;
}
.sub{        display: flex; 
              flex: 50%;
              flex-direction: column;
}
.five{        float:left;
              background-color: lightgray;
              opacity:0.6;;
              width: 120px;
              height: 20px;
}
.six{          float: right;
               background-color: #F15A29;
               margin-left: 50px;
               width: 80px;
               height: 20px;
               color: white;
}

#last p{
              text-align: center;
              font-size: 15px;
}

#subscribe p{
              text-align: center;
}
.sub{
              flex-direction: row;
}

.sub p{
              text-align: center;
}

.five p{      text-align: center;}

#least{
              background-color: #F15A29;
              padding: 30px;
              color: white;
              margin-top: -140px;
              text-align: center;
            
}

#finality{
              display: flex;
              font-size: 25px;
              justify-content: space-around;

}
.menus{
              padding-left: 100px;
}
.logo{
              display: flex;
              justify-content: space-around;
              margin-left:  200px;
              margin-right: 200px;
}
h5{
             font-weight: 800;
}
#finality{
             font-size: 23px;
}
.footer{    text-align: center;
            margin-left: 150px;
            margin-right: 150px;
            margin-top: 40px;
            font-size: 12px;
}